<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>top</string>
		<key>x</key>
		<integer>60</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>left</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>455</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>right</string>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>455</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>bottom</string>
		<key>x</key>
		<integer>60</integer>
		<key>y</key>
		<integer>505</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>plus</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>minus</string>
		<key>x</key>
		<integer>287</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>left_rotate</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>505</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>right_rotate</string>
		<key>x</key>
		<integer>287</integer>
		<key>y</key>
		<integer>505</integer>
	</dict>
</array>
</plist>
