<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>IMG_4321</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4322</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4323</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4324</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4325</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4326</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4327</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4328</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IMG_4329</string>
		<key>desc</key>
		<string>礼仪广场</string>
	</dict>
</array>
</plist>
